/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.03.2018, 15:59:02
    Author     : Markus
*/
$borderColorMenu:lightgrey;
$borderColor:grey;
$buttonActive:#C2DEF5;
$buttonBorder:#91C9F7;
* , ::after , ::before{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.bneItalic{
    font-style: italic;
}
.bneBold{
    font-weight: bold;
}
.bneAlignLeft{
    text-align:left;
}
.bneAlignCenter{
    text-align:center;
}
.bneAlignRight{
    text-align:right;
}
.bneActive{
    background:$buttonActive !important;
}
select{
    background:white;
}
#bokunoeditorIframe{
    background:white;
    height:100%;
    position:relative;
    #bokunoeditorMenue{
        height:30px;
        border-bottom:solid 1px $borderColor;
        border-top:solid 1px $borderColor;
        border-left:solid 1px $borderColor;
        border-right:solid 1px $borderColor;
        button{
            padding: 4px 8px;
            font-size: 14px;
            line-height: 20px;
            cursor: pointer;
            color: #333;
            text-align: center;
            overflow: visible;
            background: white;
            border-top: none;
            border-left: none;
            border-bottom: none;
            border-right: solid 1px $borderColor;
        }
    }
    #bokunoeditorMenuDateiContextmenu{
        display:none;
        position:absolute;
        top: 30px;
        left: 1px;
        background: white;
        font-size: 14px;
        border-right: solid 1px $borderColor;
        border-bottom: solid 1px $borderColor;
        line-height: 20px;
        cursor: pointer;
        div {
            border-bottom:solid 1px $borderColorMenu;
            button{
                border: none;
                background: white;
                width: 100%;
                padding: 4px 8px;
                cursor: pointer;
            }
        }
        .bneMenueTrennlinie{
            border-bottom: solid 1px $borderColor;
            padding:0px;
        }
        &.bneOpen{
            display:block;
        }
    }
    #bokunoeditorMenuSchriftContextmenu{
        display:none;
        position:absolute;
        top: 30px;
        left: 51px;
        background: white;
        font-size: 14px;
        border-left: solid 1px $borderColor;
        border-right: solid 1px $borderColor;
        border-bottom: solid 1px $borderColor;
        line-height: 20px;
        cursor: pointer;
        overflow:hidden;
        &.bneOpen{
            display:block;
        }
        .bokunoeditorToolbarButtonContainer{
            border-bottom:solid 1px $borderColorMenu;
            .bokunoeditorKontextButtonContainer{
                border: none;
                background: white;
                width: 100%;
                cursor: pointer;
                text-align:left;
                .bokunoeditorKontextButton {
                    border: none;
                    background: white;
                    border-left:solid 1px $borderColorMenu;
                    height:28px;
                    width:13.65em;
                    cursor: pointer;
                }
                span{
                    display:inline-block;
                    width:4.2em;
                    padding-left:8px;
                }
            }
        }
        .bokunoeditorToolbarSelectContainer{
            border-bottom:solid 1px $borderColorMenu;
            span{
                display:inline-block;
                width:4em;
                padding-left:8px;
                cursor: default;
            }
            select{
                border: none;
                border-left:solid 1px $borderColorMenu;
                border-radius: 0px !important;
                padding: 5px 8px;
                font-size: 14px;
                text-align: right;
                width:13em;
                height:28px;
                cursor: pointer;
                text-align: center;
                text-align-last: center;
            }
        }
        
        .bneMenueTrennlinie{
            border-bottom: solid 1px $borderColor;
            padding:0px;
        }
    }
    #bokunoeditorMenuFormatContextmenu{
        display:none;
        position:absolute;
        top: 30px;
        left: 106px;
        background: white;
        font-size: 14px;
        border-left: solid 1px $borderColor;
        border-right: solid 1px $borderColor;
        border-bottom: solid 1px $borderColor;
        line-height: 20px;
        cursor: pointer;
        overflow:hidden;
        &.bneOpen{
            display:block;
        }
        .bokunoeditorToolbarButtonContainer{
            border-bottom:solid 1px $borderColorMenu;
            span{
                display:inline-block;
                width:5.5em;
                padding-left:8px;
                vertical-align: text-bottom;
            }
            button{
                border: none;
                background: white;
                border-left:solid 1px $borderColorMenu;
                height:28px;
                width:10em;
                cursor: pointer;
                img{
                    height:19px;
                }
            }
        }
    }
    #bokunoeditorToolbar{
        height:30px;
        border-bottom:solid 1px $borderColor;
        border-left:solid 1px $borderColor;
        border-right:solid 1px $borderColor;
        overflow:hidden;
        vertical-align: top;
        @media (max-width: 767px){
            display:none;
        }
        div{
            height:30px;
            display:inline-block;
            vertical-align:inherit;
        }
        select{
            border: none;
            border-radius: 0px !important;
            padding: 5.5px 8px;
            border-right: solid 1px black;
            font-size: 14px;
            height:30px;
            vertical-align: inherit;
        }
        button{
            padding:4px 8px;
            height:30px;
            font-size: 14px;
            line-height: 20px;
            cursor: pointer;
            color: #333;
            text-align: center;
            overflow: visible;
            background: white;
            border-top: none;
            border-left: none;
            border-bottom: none;
            border-right: solid 1px $borderColor;
            vertical-align: inherit;
            
        }
        #bokunoeditorToolbarFett,#bokunoeditorToolbarKursiv{
            font-size: 16px;
        }
        .bokunoeditorToolbarAusrichtung{
            img{
                height:19px;
            }
        }
        .bokunoeditorToolbarTabelle{
            
            img{
                height:21px;
            }
        }
        .bokunoeditorToolbarBild{
            img{
                height:21px
            }
        }
    }
    #bokunoeditorContainer{
        border-bottom:solid 1px $borderColor;
        border-left:solid 1px $borderColor;
        border-right:solid 1px $borderColor;
        max-height: calc(100% - 97px);
        overflow:auto;
        background:lightgrey;
        @media (max-width: 767px){
            max-height: calc(100% - 67px);
        }
        #bokunoeditorContent{
            outline: none;
            overflow: hidden;
            font-size: 11pt;
            font-family: Arial;
            margin:5px auto;
            background:white;
            table{
                border-collapse:collapse;
                table-layout:fixed;
                td{
                    min-width:200px;
                    padding: 0.4rem;
                    vertical-align:top;
                }
            }
            span{
                /*display:inline-block;*/
                height:100%;
            }
            img{
                cursor: pointer;
                border:1px solid transparent;
                &.bneFocus{
                    border:1px solid black;
                }
            }
        }
    }
    #bokunoeditorFormatZeileContainer{
        overflow: hidden;
        position: absolute;
        bottom: -2px;
        width: 100%;
        border: solid 1px $borderColor;
        height: 40px;
        .bokunoeditorDokInfos{
            vertical-align: top;
            height:inherit;
            font-family: Arial;
            font-size: 10pt;
            padding: 7px 5px;
            border-right: solid 1px black;
            span{
                vertical-align: -webkit-baseline-middle;
            }
        }
        .bokunoeditorFormatZeile{
            height:inherit;
            display:inline-block;
            button{
                font-size: 14px;
                line-height: 20px;
                cursor: pointer;
                color: #333;
                text-align: center;
                overflow: visible;
                background: white;
                border-top: none;
                border-left: none;
                border-bottom: none;
                border-right: solid 1px $borderColor;
            }
        }
        .bokunoeditorTableFormats{
            display:none;
            #bokunoeditorFormatZeileBorderColor{
                padding-right: 10px;
            }
            .bokunoeditorFormatZeileInput{
                display: inline-block;
                border-right: solid 1px $borderColor;
                padding: 2.49px 4px;
                #bokunoeditorFormatZeileColor{
                    width:19px;
                }
                #bokunoeditorFormatZeileBorderColorButton{
                    padding-top:7px;
                    padding-left:7px;
                    padding-bottom:7px;
                    border-right:none;
                    outline:none;
                    #bokunoeditorFormatZeileBorderColorCanvas{
                        height:20px;
                        width:20px;
                    }
                }
                .bokunoeditorOpenColor::after{
                    content: ' ';
                    border-top:1px solid;
                    width: 20px;
                    position: absolute;
                    top: 0px;
                    left: 0;
                }
                .bokunoeditorOpenColor{
                    vertical-align: top;
                    padding-right: 3px;
                    padding-left: 4px;
                    top: 7px;
                    height:20px;
                    width:20px;
                    position: relative;
                    border-bottom: 1px solid;
                    border-right: 1px solid;
                    -webkit-appearance: menulist-button;
                }
            }
            .bokunoeditorFormatZeileButton{
                vertical-align: top;
                padding:0px 8px;
                height:40px;
                img{
                    vertical-align: middle;
                    height:34px;
                }
            }
        }
        .bokunoeditorIMGFormats{
            display:none;
            .bokunoeditorFormatZeileInput{
                display: inline-block;
                border-right: solid 1px $borderColor;
                padding: 2.49px 4px;
                height:33px;
                .bokunoeditorFormatZeileInput{
                    width: 5.5em;
                    border: none;
                    padding: 5px 6px;
                    outline:none;
                }
                .bokunoeditorFormatZeilePreLabel{
                    display: inline;
                    border: 1px solid $borderColor;
                    padding: 10.5px 6px;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
                .bokunoeditorFormatZeileAppLabel{
                    display: inline;
                    border: 1px solid $borderColor;
                    padding: 10.5px 6px;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }
    #bneHiddenInputs{
        display:none!important;
    }
}
//Papierformat
.A4{
    min-height:297mm;
    width:210mm;
    border: solid 2cm rgba(0, 0, 0, 0);
    @media(max-width: 767px){
    border: solid 2mm rgba(0, 0, 0, 0);
    }
}